@import '../../vendor/twbs/bootstrap/scss/bootstrap';

body,html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0); /* Fond de la page en blanc */
}

.student-card {
    background-image: url('/images/fond.jpg');
    border: 10px solid #9b3535;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    display: flex;
    padding: 10px;
    color: white; /* Ajout de la couleur du texte */

}

.student-photo {
    flex: 30%;
    padding: 5px;
}

.student-photo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.student-info {
    flex: 70%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    /* Ajoutez le style souhaité pour le conteneur ici */
    padding: 20px;
   
}
