<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion des notes</title>
</head>
<body>
    <table>
        <caption>Gestion des notes</caption>
        <thead>
            <tr>
                <th></th> <!-- Colonne vide pour les noms -->
                <th>Français</th>
                <th>Maths</th>
                <th>Anglais</th>
                <th>Informatique</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Eric Jullo</td>
                <td>12</td> <!-- Notes pour Eric Jullo -->
                <td>11</td>
                <td>20</td>
                <td>
                    <table>
                        <tr><td>12</td></tr> <!-- Note de théorie -->
                        <tr><td>12</td></tr> <!-- Note de pratique -->
                    </table>
                </td>
            </tr>
            <tr>
                <td>Eline Thirou</td>
                <td>09</td> <!-- Notes pour Eline Thirou -->
                <td>12</td>
                <td>14</td>
                <td>
                    <table >
                        <tr><td>12</td></tr> <!-- Note de théorie -->
                        <tr><td>15</td></tr> <!-- Note de pratique -->
                    </table>
                </td>
            </tr>
            <tr>
                <td>Marc Mouilon</td>
                <td>12</td> <!-- Notes pour Marc Mouilon -->
                <td>15</td>
                <td>18</td>
                <td>
                    <table>
                        <tr><td>16</td></tr> <!-- Note de théorie -->
                        <tr><td>16</td></tr> <!-- Note de pratique -->
                    </table>
                </td>
            </tr>
            <tr>
                <td>John Doe</td>
                <td>05</td> <!-- Notes pour John Doe -->
                <td>05</td>
                <td>12</td>
                <td>
                    <table>
                        <tr><td>05</td></tr> <!-- Note de théorie -->
                        <tr><td>09</td></tr> <!-- Note de pratique -->
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
